@font-face {
    font-family: "Blessed Day"; /* Гарнитура шрифта */
    src: url(../fonts/BLESD.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "Open Sans"; /* Гарнитура шрифта */
    src: url(../fonts/OPENS.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
    transition: all .3s;
    box-sizing: border-box;
    border: 0;
}
html {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Open Sans", "Arial";
    color: #fff;
}
body {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
    padding: 0 15px;
    min-width: 900px;
}
a {
    text-decoration: none;
    color: #fff;
}
.header, .box, .about, .content, .slider{
    padding: 0 10px;
}
[class*="bg-img"] {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}
.bg-img1 {
    height: 878px;
    background-image: url(../img/top.png);
    justify-content: space-between;
    padding: 15px 5px;
}
.header {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    margin-top: 50px;
    box-sizing: border-box;
}
.header>a {
    display: -webkit-flex;
    display: flex;
    font: 72px "Blessed Day";
}
.header ul {
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    font-size: 18px;
}
.header ul a {
    display: flex;
    padding: 5px 10px;
}
.header ul a:hover {
    border-bottom: 3px solid #1abc9c;
}
.box {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
.box img {
    display: flex;
    min-width: 415px;
}
.box .box-content {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    padding: 22px 10px;
}
.box .box-content h2 {
    font: 30px "OpenSansRegular";
}
.box .box-content p {
    font: 18px "OpenSansLight";
    line-height: 1.5;
}
.box .buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 35px;
    min-width: 370px;
}
.buttons a:first-child {
    font-size: 18px;
    background: #1abc9c;
    padding: 15px 20px;
    border-radius: 5px;
    width: 170px;
    text-align: center;
}
.buttons span {
    font-size: 15px;
    position: relative;
    background: #fff;
    padding-top: 4px;
    margin: -3px;
    border-radius: 50%;
    color: #34495e;
    width: 30px;
    height: 30px;
    text-align: center;
}
.buttons a:last-child {
    font-size: 18px;
    background: #3498db;
    padding: 15px 30px;
    border-radius: 5px;
    width: 170px;
    text-align: center;
}
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    color: #34495e;
    margin-top: 90px;
    margin-bottom: 90px;
}
.about div {
    max-width: 610px;
}
.about div p {
    font-size: 18px;
    line-height: 1.5;
}
.shedules {
    display: flex;
    max-width: 400px;
    max-height: 150px;
    flex-flow: row nowrap;
    align-items: flex-end;
}
.shedules img:nth-child(1) {
    margin-right: 15px;
}
.bg-img2 {
    background-color: #f6f6f6;
    color: #2c3e50;
}
.content {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
.bg-img2 .content {
    margin-top: 90px;
    margin-bottom: 80px;
}
.bg-img2 .content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
}
.bg-img2 .content p {
    text-align: center;
    font-size: 13px;
}
.bg-img3 {
    max-height: 511px;
    background-image: url(../img/macbook-bg.png);
}
.bg-img3 .content {
    flex-flow: column nowrap;
    align-items: center;
}
.bg-img3 h2 {
    margin-top: 55px;
    margin-bottom: -15px;
    font: 30px "OpenSansRegular";
    text-align: center;
}
.bg-img3 .slider {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 230px;
}
.bg-img3 .slider img:nth-child(2n+1) {
    width: 48px;
    height: 84px;
    cursor: pointer;
}
.bg-img3 .slider img:first-child {
    transform: scale(-1, 1);
}
.bg-img4 {
    color: #34495e;
}
.bg-img4 .content .content {
    margin-top: 150px;
    justify-content: center;
    font-size: 30px;
}
.block {
    display: flex;
    flex-flow: row wrap;
    max-width: 450px;
    max-height: 160px;
    margin: 20px 0;
}
.block img {
    width: 142px;
    height: 156px;
}
.block div {
    display: flex;
    flex-flow: row wrap;
    max-width: 300px;
    padding-left: 25px;
}
.bg-img5 {
    margin-top: 100px;
    background-color: #34495e;
}
.bg-img5 .content {
    padding-top: 90px;
    align-items: flex-start;
    min-height: 570px;
}
.bg-img5 .content div {
    display: flex;
    flex-flow: row wrap;
    max-width: 450px;
}
.bg-img5 .content div:first-child p {
    margin-top: -10px;
    font-size: 14px;
}
.bg-img5 .content div:first-child ul {
    margin-top: 30px;
    padding-left: 0;
    line-height: 2;
    list-style-type: none;
}
.bg-img5 .content div:last-child {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    max-width: 460px;
}
.bg-img5 .content .buttons a{
    margin-top: 15px;
    margin-left: 15px;
}
input:first-child {
    margin: 10px 20px 0 0;
}
input {
    width: 100%;
    max-width: 220px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    color: rgba(255,255,255,.6);
    background-color: #5d6d7e;
    border: 0;
}
select {
    border-radius: 5px;
    margin: 15px auto;
    width: 100%;
    max-width: 460px;
    padding: 10px;
    color: rgba(255,255,255,.6);
    background-color: #5d6d7e;
    border: 0;
}
textarea {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 460px;
    color: rgba(255,255,255,.6);
    background-color: #5d6d7e;
    border: 0;
}
.bg-img6 {
    background-color: #2c3e50;
}
.bg-img6 .content {
    justify-content: center;
    align-items: center;
    min-height: 160px;
    position: relative;
}
.triangle::after {
    content: '';
    position: absolute;
    margin: -130px -25%;
    border: 20px solid transparent;
    border-bottom: 30px solid #2c3e50;
}
.fa {
    margin-right: 10px;
}
@media screen and (max-width: 975px) {
    .box img {
        display: none;
    }
}